<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <!-- define first meta-group-->
  <define name="super-mod1">
  <include name = "mod 1"></include>
  <include name = "mod 2"></include>
  <include name = "mod 3"></include>
  </define>
  
  <!--define second meta group -->
  <define name = "super-mod2">
  <include name="mod 4"></include>
  <include name="mod 5"></include>
  <include name="mod 6"></include>
  </define>
  
  <run>
  <!-- include super-mod1 here i.e meta group here -->
  <include name="super-mod2"></include>
  </run>
  
  
  </groups>
    <classes>
      <class name="com.GroupsOfGroups.GroupsOfGroups"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
